{% block navbar %}
<nav>
    <header>
        <div class="d-flex justify-content-evenly" style="margin: 35px 0px;">
            <div class="text-center align-middle">
                <div>
                    <a href="#" class="text-decoration-none text-dark fw-semibold" style="font-size: 32px;">CECILIA CORREA</a>
                </div>
                <div>
                    <p class="mb-1" style="color: #666666; font-size: 13px;">Wedding Planner</p>
                </div>
            </div>

            <div class="my-auto">
                <ul class="nav">
                    <li class="nav-item"><a href="" class="nav-link barra1">INICIO</a></li>
                    <li class="nav-item"><a href="" class="nav-link barra1">SOBRE MÍ</a></li>
                    <li class="nav-item"><a href="" class="nav-link barra1">GALERÍA</a></li>
                    <li class="nav-item"><a href="" class="nav-link barra1">CONTÁCTANOS</a></li>                                    
                </ul>
            </div>
        </div>
    </header>
</nav>
{% endblock %}