{% extends 'base.html' %}

{% block title %}Nosotros{% endblock %}

{% block customCSS %}

{% endblock %}

{% block body %}

<section id="presentacion-id-contacto" class="header-pages">         
    <h2 class="text-white">Conócenos</h2>             
</section>


<div class="container-xxl mb-5 mt-5">
    <div class="d-flex justify-content-center align-items-start flex-wrap">        
        <div class="col-lg-6 col-md-10 nosotros-cecilia">
            <h2 class="text-center mb-4" style="font-size: 36px;" data-aos="fade-down">CECILIA CORREA</h2>
            <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Directora de su marca homónima, cuenta con una trayectoria profesional en diversas áreas y compañías a través del tiempo, experiencia que se ve reflejada en su compromiso y forma de entender la industria de los eventos, como Wedding & Event Planner, hace más de 11 años.</p>
            <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Actualmente está certifiada como Coach profesional, ha participado como conferencista en varias oportunidades a nivel nacional e internacional en diferentes Cumbres dirigidas al sector de los eventos y brindado entrevistas en radio y televisón nacional. </p>
            <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Cuenta con una certificación internacional en bodas y celebraciones igualitarias así como una certficación para ejecutivos en Imagen y Marca personal, entre otras especializaciones en el mundo de la moda que es su segunda pasión.</p>
            <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Su principal objetivo profesional es la capacitación y actualización constante para poder seguir elevando sus estándares de servicio, reforzando aún más su compromiso, creando lazos inquebrantables en el tiempo con sus clientes.</p>
            <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Como organizadora de momentos y construcción de recuerdos, tanto en el sector de bodas, como en el sector coorporativo y social, Cecilia se basa en las múltiples facetas de su vida, para hacer de cada uno de sus proyectos una experiencia memorable. </p>
        </div>
        <div class="col-lg-6 col-md-10"><img class="d-block m-auto mt-5" src="{{ url_for('static', filename='img/acerca_mi/Acerca-1.png') }}" alt="" style="width:100%; max-width:390px; border-radius: 10px;" data-aos="flip-left"></div>
    </div>
</div>



<div class="container-fluid mt-5 mb-3 py-5" style="background-color: #EDF5F7;">
    <div class="container-xxl">
        <div class="row">
            <h2 class="text-center mt-2 mb-4 fs-2" data-aos="fade-down">Cecilia Correa Wedding & Event Planner </h2>
            <div class="nosotros-todos">                
                    <img class="img-fluid pe-4 pb-3 mt-2" src="{{ url_for('static', filename='img/acerca_mi/acerca_2.png') }}" alt="" style="float: left; max-width: 500px; width: 100%; border-radius: 10px;" data-aos="flip-left">

                    <h4 style="font-size: 16px; font-weight: bold; text-decoration: underline; margin-top:10px;">Experiencia y celebración</h4>
                    <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Aferradas a nuestro principal objetivo, celebrar el amor. Nos encanta la magia, conectar con nuestros clientes, pensando en cada detalle, en lo que a cada uno le gusta, siguiendo siempre su estilo de vida en el que se perciba el alma de cada pareja.</p>
                    <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Sabemos que nada ocurre por casualidad, se planifica y cada uno de los elementos que intervienen y responden a un mismo proyecto, sólo se consiguen trabajándolo en conjunto desde una perspectiva única. </p>
                    <p class="sobremi-parrafo-cecilia" data-aos="fade-up">Nuestra filosofía de trabajo es clara: crear eventos muy especiales, organizados, brindando experiencias únicas, siempre reinventándonos. Los momentos más importantes de la vida son para celebrarlos y nosotros los cuidamos de principio a fin.</p>
                
            </div>
        </div>
    </div>
</div>



{% block customJS %}
{% endblock %}


{% endblock %}